html, body {
    margin: 0;
    padding: 0;
    /* overflow: hidden; */
    /* position: fixed; */
}
.colors{
    --var-fire-red :#ff9d3b;
    --var-fire-orange:#e14a38;
    --var-fire-yellow:#ff863e;

    --var-earth-1:#adabb1;
    --var-earth-2:#64570b;
    /* #cb8c11','#946002','#64570b',"#a52a2a */
    /* #7980f1','#0faba3','#07625d','#86dad5 */
    /* #bb51bb','#083e7f','#ff00ff','#794087' */
}
#app {
    height: 100%;
    max-width:100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    justify-content: center;
}
.layout {
}
.layout .body {
    
}
.body canvas {
    max-width: 100vw;
    max-height: 100vh;
    object-fit: contain; /* Maintain aspect ratio */
    display: block;
    image-rendering: pixelated; /* Keep sharp pixels for retro games */
    image-rendering: crisp-edges;
}
.layout .header{
    position:fixed;
    top:0;
    background:#fff;
    z-index:10000;
}
.layout .footer{
    position: fixed;
    display: flex;
    width: 600px;
    max-width: 565px;
    bottom: 0;
    /* background: #b551514a; */
    flex-direction: row;
}